<!DOCTYPE html>
<html>

  <head>
    <title>VivaReal - Image Ranker </title>
	<link href="http://cdn.vivareal.com.br/v/static/css/core/core-76d7cef659.css" rel="stylesheet" type="text/css"/>
    
    <img src="http://cdn.vivareal.com.br/v/static/img/core/logo-footer-c3ac873e43.png" alt="VivaReal - Portal Imobiliário logo">
  </head>
  <style>
  ul { padding: 0; }
  li { display: inline-block; width: 48%; padding: 0; margin: 0; }
  img { max-width: 100%; }
  div { position: relative; display: inline-block; }
  span { position: absolute; color: white; bottom: 0; right: 0; padding: 10px; font-size: 24px; text-shadow: 5px 3px 10px rgba(150, 150, 150, 1); }
  p { position: absolute; color: white; top: 0; left: 0; padding: 10px; font-size: 26px; text-shadow: 5px 3px 10px rgba(150, 150, 150, 1); margin: 0; }
  
  </style>
  <body>
    <h1><img src="logo.png">VivaReal - Image Ranker</h1>
    <ul>
    <% for (var i = 0; i < list.length; i++) { %>
    	<li>
		<div>
		<% if(show) { %>
		<p>Score: <%=list[i].score.toFixed(2).replace('.', ',')%> <%=list[i].hash%> <%=list[i].colors%> </p>
		<span><strong><%=list[i].width%>x<%=list[i].height%></strong></span>
		<% } %>
		<img src="<%=list[i].name.replace('public/', '')%>">
		</div>
		</li>    
    <% }%>
    </ul>
  </body>
</html>
